body {
	background-color: DodgerBlue;
	font-family: 'Lato' , sans-serif;
	color: #fff;
	margin: auto;
}

.heading h1{
	width: 95%;
	font-size: 120px;
	padding-bottom: 10px;
	border: solid;
	margin: 0px ;
	border-radius: 15px;
	background-color: rgba(27,125,217,0.6);
	color:rgba(28,30,32,1);
	letter-spacing: 0.02em;
}
.heading #wel{
	padding-top:20%;
	font-size: 32px;
	word-spacing: 0.3em;
}
 .banner .heading {
 	margin: auto;
 	position: relative;
 	text-transform: uppercase;
 	padding-top: 240px;
 }
 .heading{
 	max-width:900px;
 	margin:0 auto;
}

.heading .btn{

	border: solid;
	font-family: 'Oswald',sans-serif;
	font-weight: 200;
  	color: #fff;
	background-color: #1c1c1c;
  	text-decoration: none;
  	font-size: 28px;
  	letter-spacing: 0.01em;
  	padding: 7px 20px;
    transition: padding 0.5s;

}

.heading .btn:hover{
	padding: 11px 50px;
}

.heading #space{
	padding-top: 1px;
}

 .banner{
 	margin-top: 0px;
 	/*background: url("http://imgview.info/download/20160117/sky-tropics-sea-water-horizon-waves-ocean-1920x1200.jpg")no-repeat center center;*/
 	background: url("img/back.png") no-repeat center center;
 	background-size: cover;
 	height: 970px;
 	text-align: center;
	background-attachment:fixed;
 
 }
/*--------------------------------------*/
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 65px;
  background-color: rgba(0,0,0,0.2);
  transition: background-color 0.5s;
}
.navbar:hover{
	 background-color: rgba(0,0,0,1);

}
.contents{
	font-family: 'Oswald',sans-serif;
	font-weight: 50;
 	text-transform: uppercase;
 	font-size:40px;
	letter-spacing: 0.05em;
 	
 }
 #resume{
	text-align: center;
	margin-left: 17%;
  	float: left;
  	width:9.5%;
	
}
#resume a{
	border-radius: 5px;
	width: 100%;
	float:left;
  	text-decoration: none;
  	color: white;
  	transition: background-color 0.5s;

}
#resume a:hover{
	background-color: red;
	color: black;
}
#home a{
	border-radius: 5px;
	width: 28%;
  	text-decoration: none;
  	color: white;
  	float: left;
  	margin-left: 18%;
  	transition: background-color 0.5s;

}
#home a:hover{
	background-color: dodgerblue;
	color: black;
}
#home{
	text-align: center;
	margin-right: 70%;
	margin-left: 1%;
}
#about a{

	border-radius: 5px;
  	text-decoration: none;
  	color: white;
  	width: 23%;
  	float: left;
  	margin-left: 10%;
  	transition: background-color 0.5s;

}
#about a:hover{
	background-color: dodgerblue;
	color: black;
}
#about{
	text-align: center;
	margin-right: 27%;
	margin-left: 25%;
	width: 

}
#contact a{
	width: 60%;
	border-radius: 5px;
	float: left;
	margin-left: 29%;
  	text-decoration: none;
  	color: white;
  	transition: background-color 0.5s;
}
#contact a:hover{
	background-color: dodgerblue;
	color: black;
}
#contact{
	text-align: center;
	border-radius: 5px;
	margin-left: 51%;
	width: 17%;
}

.aboutinfo span{
	color: #32E1FF;
	font-weight: bolder;
}

#fline{
	text-align: center;
	text-transform: uppercase;
	font-size: 100px;
	color: rgba(255,255,255,0.6);
	font-family: 'Lato' sans-serif;
	
}
#fpara{
	margin-left: 6%;
	padding-left: 10px;
	padding-right: 10px;
	width: 43%;
	height:110%;
	border-radius: 10px;
	font-size: 30px;
	line-height:1.5em;
	font-family: 'Roboto', sans-serif;
	transition: background-color 0.5s;
	text-align: justify;
    text-justify: inter-word;
    background-color: rgba(0,0,0,0.1);
}
#fpara:hover{
	background-color: rgba(0,0,0,0.5);
}
.fixedblue{
	border:solid;
	border-color: rgba(0,0,0,0.0);
	background: url("img/under.png") no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	height: 1600px;
	position: relative;
}
#myimg{
	margin-top: 0%;
	margin-right: 7%;
	float:right;
	height: 110%;

}
#lay{
	height: 1000px;
}

.contact{
	border:solid;
	border-color: rgba(0,0,0,0.0);
	background: url("img/con3.jpg") no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	height: 1000px;
	text-align: center;
	position: relative;

}
.contact a{
  	color:white;

}
.contact i{
	margin-left:2%;
	font-size: 100px;
}
.contact #conline{
	font-weight:bolder;
	margin-left: 34.5%;
	padding-left: 10px;
	padding-right: 10px;
	width: 30%;
	border-radius: 10px;
	font-size: 50px;
	line-height:1.5em;
	font-family: 'Roboto', sans-serif;
	transition: background-color 0.5s;
}
.contact #conline:hover{
	color:#32E1FF;
	background-color: rgba(0,0,0,0.5);
	
}
.contact .fa-facebook{
	margin-right: 3%;
	transition: color 0.5s;
}
.contact .fa-facebook:hover{
	color: #3b5998;
}
.contact .fa-google{
	margin-right: 3%;
	transition: color 0.5s;
}
.contact .fa-google:hover{
	color: #db3236;
}

.contact .fa-steam{
	margin-right: 3%;
	border-radius: 10%;
	transition: color 0.5s;
}
.contact .fa-steam:hover{
	background-color: white;
	color: #000000;
}
/*
.contact .fa-snapchat{
	margin-right: 3%;
	transition: color 0.5s;
}
.contact .fa-snapchat:hover{
	color: #fffc00;
}
*/
.contact .fa-wordpress{
	margin-right: 3%;
	border-radius: 100%;
	transition: color 1s;
}
.contact .fa-wordpress:hover{
	background-color: white;
	color: #21759b;
}

.contact .fa-github{
	margin-right: 3%;
	transition: color 0.5s;
}
.contact .fa-github:hover{
	color: #6e5494;
}
.contact .fa-instagram{
	margin-right: 3%;
	transition: color 0.5s;
}
.contact .fa-instagram:hover{
	color: #e1306c;
}
.contact #end{
	position: absolute;
	bottom:0;
	padding-left: 30%;
	padding-bottom: 5%;
}




